*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width:100%;
    height: 500px;
    position: relative;
}
.move-box {
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: #3498db; 
    top: 50%; 
    left: 0;  
    animation: moveAcross 8s linear ; 
    animation-iteration-count: 2;

}


@keyframes moveAcross {
    0% {
        top: 0;
        background-color: #3498db;
        transform: scale(1); 
    }
    50%
    {
        top: 50%;
        background-color: #67e215; 
        transform: scale(0.5);
    }
    
    100% {
        top: 100%; 
        background-color: crimson;
        transform: scale(1);
    }
}