*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #269ded; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 300px 600px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}


.button:hover {
    background-color: #2ecc71;
    transform: scale(1.1); 
}